    .titulo {
        width: 24%;
        margin: 0 auto;
        margin-left: 35%;
        background-color: aquamarine;
        padding: 10px;
    }
    
    .parrafo1 {
        width: 60%;
        margin-left: 22%;
        text-align: justify;
        background-color: aquamarine;
        padding: 10px;
    }
    
    .titulo2 {
        width: 50%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 35%;
    }
    
    .parrafo2 {
        width: 40%;
        margin: 0 auto;
        margin-top: 3%;
        text-align: justify;
    }
    
    .titulo3 {
        width: 50%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 33%;
    }
    
    #imagen {
        width: 40%;
        margin: 0 auto;
        margin-top: 3%;
    }
    
    .titulo_2_perros {
        width: 33%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 32%;
        background-color: aquamarine;
        padding: 10px;
    }
    
    #imagen_perros {
        width: 60%;
        margin: 0 auto;
        margin-top: 3%;
    }
    
    .volver_pag {
        margin-left: 85%;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .button4 {
        background-color: transparent;
        color: black;
        border: 2px solid aquamarine;
    }
    
    .button4:hover {
        background-color: aquamarine;
    }
    
    .tablas {
        width: 55%;
        margin-left: 500px;
        margin-top: 20px;
        background-color: aquamarine;
    }