body {
    background-color: #000000c7;
}

#div1 {
    position: absolute;
    height: 98%;
    width: 20%;
    background-color: #0000002c;
}

#div2 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 0%;
    left: 15%;
    background-color: #00eeff;
}

#div3 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 25%;
    left: 15%;
    background-color: #f4f80e;
}

#div4 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 50%;
    left: 15%;
    background-color: #ff9100;
}

#div5 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 75%;
    left: 15%;
    background-color: #ff0000;
}

#botondiv1 {
    position: absolute;
    width: 20%;
    left: 10px;
    text-decoration: none;
    color: #fff7f7;
}

#boton2div1 {
    position: absolute;
    width: 20%;
    left: 10px;
    top: 5%;
    text-decoration: none;
    color: #fff7f7;
}

#boton3div1 {
    position: absolute;
    width: 20%;
    left: 10px;
    top: 10%;
    text-decoration: none;
    color: #fff7f7;
}

#boton4div1 {
    position: absolute;
    width: 20%;
    left: 10px;
    top: 15%;
    text-decoration: none;
    color: #fff7f7;
}

#boton5div1 {
    position: absolute;
    width: 20%;
    left: 10px;
    top: 20%;
    text-decoration: none;
    color: #fff7f7;
}

.titulo1 {
    width: 100%;
    padding-left: 200px;
    color: #ffffff;
}

.texto1 {
    width: 70%;
    padding-left: 200px;
    color: #ffffff;
}

#botondiv1:hover {
    color: red;
}

#boton2div1:hover {
    color: red;
}

#boton3div1:hover {
    color: red;
}

#boton4div1:hover {
    color: red;
}

#boton5div1:hover {
    color: red;
}

#div6 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 0%;
    left: 15%;
    background-color: #0011ff;
}

#div7 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 25%;
    left: 15%;
    background-color: #21f80e;
}

#div8 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 50%;
    left: 15%;
    background-color: #ff00c8;
}

#div9 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 75%;
    left: 15%;
    background-color: #00ff80;
}

#div10 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 0%;
    left: 15%;
    background-color: #00ffd5;
}

#div11 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 25%;
    left: 15%;
    background-color: #f78400;
}

#div12 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 50%;
    left: 15%;
    background-color: #8400ff;
}

#div13 {
    position: absolute;
    height: 25%;
    width: 80%;
    top: 75%;
    left: 15%;
    background-color: #00ff80;
}