    .titulo {
        width: 50%;
        margin: 0 auto;
        margin-left: 35%;
    }
    
    .parrafo1 {
        width: 60%;
        margin: 0 auto;
        text-align: justify;
    }
    
    .titulo2 {
        width: 50%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 35%;
    }
    
    .parrafo2 {
        width: 40%;
        margin: 0 auto;
        margin-top: 3%;
        text-align: justify;
    }
    
    .titulo3 {
        width: 50%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 33%;
    }
    
    #imagen {
        width: 40%;
        margin: 0 auto;
        margin-top: 3%;
    }
    
    .titulo_2_perros {
        width: 50%;
        margin: 0 auto;
        margin-top: 3%;
        margin-left: 32%;
    }
    
    #imagen_perros {
        width: 60%;
        margin: 0 auto;
        margin-top: 3%;
    }
    
    .volver_pag {
        margin-left: 85%;
    }